<div id="settingscontainer">
	<div id="concertlocation">
		<span class="currentmetro">Concert location: </span> {{area}}
		<input placeholder="Search for a different location" class="searchbar">
		<div class="metrosuggestion" ng-repeat="metro in metros" ng-click="setMetro(metro)">
			{{metro.displayName}}
			<span ng-show="metro.state">, {{metro.state.displayName}}</span>
			<span ng-show="metro.country">, {{metro.country.displayName}}</span>
		</div>
	</div>
	<a href="#/logout" class="btn spotify">Logout</a>
	<div class="message">
		<a href="https://medium.com/@ptrwtts/swarm-fm-update-325df0b6b719" target="_blank" 
			ng-click="$root.outboundLink('ViewInformationLink','https://medium.com/@ptrwtts/swarm-fm-update-325df0b6b719')">
			Read about the new Swarm.fm
		</a>
	</div>
</div>